.c-main-container {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  flex-direction: column;
  gap: 40px;
}

.c-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-h1 {
  display: flex;
  align-items: center;
  text-align: left;
  width: 50%;
  height: 30vh;
}

.c-p {
  display: flex;
  align-items: center;
  width: 48%;
  height: 30vh;
}

.c-h1 h1 {
  font-family: "Boska", sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 2;
}

.c-p p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #242424;
  font-size: 22px;
  text-align: justify;
}

.c-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.cc-main-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #242424;
}

.cc-main-container h1 {
  display: flex;
  width: 20%;
  font-weight: 500;
}

.cc-main-container p {
  display: flex;
  width: 50%;
}

.cc-main-container a {
  display: flex;
  width: 10%;
}

.cc-main-container svg {
  transition: transform 0.3s ease-in-out;
}

.cc-main-container svg:hover {
  transform: scale(1.5);
}
