.p-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: auto;
}

.p-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 900px;
  width: 100%;
}

.p-title h1 {
  text-align: center;
  font-family: "Boska", sans-serif;
  width: 40%;
  font-weight: 500;
  font-size: 65px;
  letter-spacing: 2;
}

.p-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  gap: 12px;
}

.p-c-view {
  display: flex;
  align-items: center;
  position: relative;
}

.p-c-v-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  padding: 20px;
  bottom: 0;
  left: 0;
}

.p-c-v-text strong {
  font-family: "Boska", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2;
  color: #ffffff;
}

.p-c-v-text span {
  font-size: 18px;
  font-family: "Pally", sans-serif;
  color: #ffffff;
}
.p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 5;
  pointer-events: none;
  border-radius: 10px;
}

.p-image {
  border-radius: 10px;
}

@media (max-width: 480px) {
  .p-container {
    width: auto;
    flex-direction: column;
  }
}
