@import url("https://api.fontshare.com/v2/css?f[]=telma@300,400,500,700,900,1&f[]=boska@200,201,300,301,400,401,500,501,700,701,900,901,1,2&f[]=pally@400,500,700,1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
